{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier", "react"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-unused-vars": "warn",
    "require-jsdoc": "off",
    "no-console": "warn",
    "prefer-const": "warn",
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-double"],
    "max-len": ["warn", {
      "code": 120
    }],
    "semi": ["warn", "always"],
    "react/display-name": "warn"
  }
}