.root {
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding-top: 200px;
  section {
    margin: 0 auto 100px;
    position: relative;
    z-index: 2;
  }
  &.container section {
    max-width: 1540px;
    padding: 0 20px;
  }
  &.fullContainer section {
    max-width: 1912px;
  }
  footer {
    margin-top: 100px;
  }
  .backgroundElem {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

@media(min-width: 1921px)
{
  .root section {
    min-height: 100vh;
  }
}

@media (max-width: 920px) {
  .root {
    &.container section {
      padding: 0 20px;
    }
  }
}