.root {
  position: relative;
  overflow: hidden;
  background-color: gray;

  .bgc {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    svg {
      position: absolute;
      z-index: 0;
      top: -70%;
      left: 0;
      width: 100%;
      height: 300%;
      filter: drop-shadow(2px 2px 5px rgb(0, 0, 0)) contrast(0.1);
    }
  }
  .contentContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;

    .contentInner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 30px;
      padding: 0 100px;
      z-index: 2;

      .infoContainer {
        .text {
          max-width: 520px;
          font-size: 24px;
          font-weight: 400;
          color: #000;
          margin-bottom: 40px;
        }
      }
    }
  }
}