.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
  .infoContainer {
    .title {
      font-size: 96px;
      color: white;
      font-weight: 400;
      text-shadow: 3px 3px 4px #000;
      margin-bottom: 30px;
    }
    .desc {
      font-size: 24px;
      max-width: 540px;
      margin-bottom: 30px;
      font-weight: 300;
    }
    .price {
      font-size: 96px;
      font-weight: 400;
    }
  }
  .sliderContainer {
    min-width: 400px;
    height: 400px;
    background-color: red;
  }
}