.root {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .contentContainer {
    text-align: center;
    position: relative;
  }

  .imgContainer {
    max-width: 540px;
    margin: 0 auto;

    .logo {
      width: 100%;
      margin-bottom: 50px;
      filter: drop-shadow(2px 2px 4px rgb(255, 255,255));
    }
  }

  .connectionList {
    li + li {
      margin-top: 15px;
    }

    li {
      a {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}

@media(max-width: 991px) {
  .root {
    padding: 0 20px;
    min-height: 70vh;
  }
}

@media (max-width: 480px) {
  .root {
    .imgContainer {
      .logo {
        max-width: 315px;
        margin-bottom: 25px;
      }
    }
  }
}