@font-face {
  font-family: titleFont;
  src: url("../assets/fonts/Alter-Bridge.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Galdeano&family=Magra:wght@400;700&family=Roboto+Condensed:wght@300;400;700&display=swap");
