.presentationSection {
  height: 100vh;
  position: relative;
  scroll-snap-align: center;
  overflow: hidden;
  z-index: 1;

  .background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
.content {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  backdrop-filter: grayscale(1) blur(2px);
  -webkit-backdrop-filter: grayscale(1) blur(2px);
  -moz-backdrop-filter: grayscale(1) blur(2px);
  -o-backdrop-filter: grayscale(1) blur(2px);
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .content {
    overflow: hidden;
    top: 50%;
    min-width: 80%;
    width: auto;
    height: 60%;
    padding: 0 0 0 20px;
    transform: translateY(-50%);
  }
}
