.root {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}
@media(max-width: 1240px) {
  .root {
    padding: 100px 0;
  }
}
@media(max-width: 430px) {
  .root {
    padding: 50px 0;
  }
}