.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 64px;
  width: 100%;
  transition-property: all;
  transition-delay: .8s;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    z-index: 1;
    transition: all .8s;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    height: 100%;
    background-color: black;
    z-index: 1;
    transition: all .8s;
  }
  span {
    z-index: 2;
  }
  &.isFinished {
    width: 0;
    &::before, &::after {
      width: 0;
    }
    span {
      display: none;
    }
  }
}
@media(min-width: 768px) {
  .root {
    font-size: 82px;
  }
}
@media(min-width: 1400px)
{
  .root {
    font-size: 5vw;
  }
}