.root {
  position: relative;
  z-index: 2;
  width: 100%;
  .contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 0 30px;

    .list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 20px 50px;
      align-items:  flex-start;
      transition: all .5s;
      .listItem a  {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 10px;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        svg {
          height: 24px;
          width: 24px;
          display: block;
          transition: all .5s;
        }
        &:hover {
          svg {
            transform: translateY(5px);
            color: #D99938;
            text-shadow: 3px 3px 5px black;
          }
        }
      }
    }
    .scheduleList {
      display: flex;
      flex-direction: column;
      align-items:  center;
      li {
        margin-bottom: 10px;
      }
    }
  }
  .mapContainer {
    position: relative;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
}
@media(max-width: 920px) {
  .root {
    .contentContainer{
      margin-bottom: 80px;
    }
    .mapContainer {
      height: 400px;
    }
  }
}
@media(max-width: 768px) {
  .root {
    .contentContainer{
      flex-direction: column;
      gap: 30px 0;
      margin-bottom: 80px;
      .list {
        padding: 0 20px;
        justify-content: center;
        align-items: center;
      }
    }
    .mapContainer {
      height: 350px;
    }
  }
}