.root {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 260px 0 100px;
  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px 50px;
      margin: 100px 0;
      transition: all .5s;
      .listItem a  {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 10px;
        text-transform: uppercase;
        transition: all .5s;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        svg {
          height: 24px;
          width: 24px;
          display: block;
        }
        &:hover {
          transform: translateY(5px);
          color: #D99938;
          text-shadow: 3px 3px 5px black;
          svg {
            color: inherit;
          }
        }
      }
    }
  }
  .mapContainer {
    position: relative;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
}
@media(max-width: 920px) {
  .root {
    padding: 180px 0 100px 0;
    .contentContainer{
      .list {
        margin: 80px 0;
      }
    }
    .mapContainer {
      height: 400px;
    }
  }
}
@media(max-width: 768px) {
  .root {
    .contentContainer{
      .list {
        margin: 20px 0 60px 0;
      }
    }
    .mapContainer {
      height: 400px;
    }
  }
}