.root {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  transform-style: preserve-3d;
  transform: translateZ(100px);
  background-position: center center;
  //
  //&::before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  width: 101%;
  //  height: 101%;
  //  background: rgba(0,0,0,0.3);
  //  backdrop-filter: blur(3px);
  //}
  .innerElement {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

    .contentContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      height: 290px;
      width: 100%;

      .logo {
        position: relative;
        left: -25px;
        transform: translateZ(50px);
        width: 100%;
        height: 100%;
        filter: drop-shadow(2px 2px 3px rgb(0, 0,0));
      }

      .title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 90%;
        transform: translateZ(75px);
        color: white;
        line-height: 1;
        font-size: calc((65vw - 4.5rem) / 7);
        text-shadow: 3px 3px 4px black;
      }

      .btnContainer {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        transform: translateZ(50px);
        color: gray;
        line-height: 1;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-shadow: 3px 3px 4px black;
        margin-top: 25px;
      }
    }
  }
}
@media(max-width: 1400px) {
  .root {
    .innerElement {
      .contentContainer {
        height: 260px;
        .title {
          font-size: 120px;
        }
        .btnContainer {
          padding-right: 5px;
          margin-top: 20px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .root {
    .innerElement {
      .contentContainer {
        height: 230px;
        .title {
          font-size: 80px;
          margin-bottom: 20px;
        }
        .btnContainer {
          margin-top: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .root {
    .innerElement {
      .contentContainer {
        height: 190px;
        .title {
          font-size: 65px;
          margin-bottom: 20px;
        }
        .btnContainer {
          padding-right: 19px;
        }
      }
    }
  }
}