html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h3,
footer {
  color: #b8c1ec;

  padding: 1rem;
  text-align: center;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: hotpink;
}

footer a:hover {
  text-decoration: none;
  color: teal;
}
