@import './libs/normalize';
@import './variables';
@import './fonts';

*::selection {
  color: $black;
  background: $white;
}
input:-webkit-autofill
{
  -webkit-box-shadow: 0 0 0 30px rgba($black, 0.5) inset !important;
}
body {
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 430px) {
  .container {
    padding: 0 20px;
  }
}
.secondaryFont {
  font-family: titleFont, sans-serif;
}

